<!-- inventory/templates_org/inventory/category_list.html -->
{% extends 'inventory/base.html' %}

{% block title %}Category List{% endblock %}

{% block content %}
<div class="w3-container" style="margin-left:235px">
	<h3 class="text-center">Category List</h3>
    <a href="{% url 'category_add' %}" class="btn btn-primary mb-3">+ New</a>
</div>

<div class="w3-container" style="margin-left:235px">
    <table class="w3-table-all w3-centered">
        <thead>
            <tr class="w3-gray">
                <th scope="col">Name</th>
                <th scope="col">Description</th>
				<th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <a href="{% url 'category_edit' category.pk %}" class="btn btn-secondary btn-sm">Edit</a>
                		<a href="{% url 'category_delete' category.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


