<!-- inventory/templates_org/inventory/category_list.html -->
{% extends 'inventory/base.html' %}

{% block title %}Stock List{% endblock %}

{% block content %}
<div class="w3-container" style="margin-left:235px">
    <h3 class="text-center">Stock List</h3>
    <a href="{% url 'stock_add' %}" class="btn btn-primary mb-3">+ New</a>
</div>

<div class="w3-container" style="margin-left:235px">
    <table class="w3-table-all w3-centered">
        <thead>
            <tr class="w3-grey">
                <th scope="col">Product</th>
				<th scope="col">Code</th>
				<th scope="col">Size</th>
                <th scope="col">Quantity</th>
				<th scope="col">Warehouse</th>
				<th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.product }}</td>
					<td>{{ stock.product.code }}</td>
					<td>{{ stock.product.size }} cm</td>
					<td>{{ stock.quantity }}</td>
                    <td>{{ stock.warehouse }}</td>
                    <td>
                        <a href="{% url 'stock_edit' stock.pk %}" class="btn btn-secondary btn-sm">Edit</a>
                		<a href="{% url 'stock_delete' stock.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
