<!-- inventory/templates_org/inventory/tailor_list.html -->
{% extends 'inventory/base.html' %}

{% block title %}Tailor List{% endblock %}

{% block content %}
<div class="d-flex justify-content-between mb-3 border-bottom">
    <h3 class="text-center">Tailor List</h3>
    <a href="{% url 'tailor_add' %}" class="btn btn-primary mb-3">+ New</a>
</div>

<div class="d-flex">
    <table class="table table-bordered text-center">
        <thead>
            <tr class="table-primary">
                <th scope="col">Name</th>
                <th scope="col">Code</th>
				<th scope="col">Phone</th>
				<th scope="col">Address</th>
				<th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tailor in tailors %}
                <tr>
                    <td>{{ tailor.name }}</td>
                    <td>{{ tailor.code }}</td>
					<td>{{ tailor.phone }}</td>
					<td>{{ tailor.address }}</td>
                    <td>
						<a href="{% url 'tailor_edit' tailor.pk %}" class="btn btn-secondary btn-sm">Edit</a>
                		<a href="{% url 'tailor_delete' tailor.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
